<div class="js-body-position container">
  <div class="js-home-sections-container">
    <section data-store="home-slider">
      <div class="js-home-main-slider-container ">
        <div class="js-home-main-slider-visibility">
          <div class="js-home-slider home-slider swiper-container swiper-container-horizontal swiper-container-initialized">
            <div class="swiper-wrapper" style="transition: all; transform: translate3d(-980px, 0px, 0px);">
              <div
                class="swiper-slide slide-container swiper-slide-duplicate swiper-slide-prev"
                data-swiper-slide-index="2"
                style="width: 980px;"
              >
                <img
                  width="1600"
                  height="620"
                  src="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176759499-6187605804-b235212168ba809adecb85745be1d9f81733176707-50-0.webp?1376168140"
                  data-srcset="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176759499-6187605804-b235212168ba809adecb85745be1d9f81733176707-480-0.webp?1376168140 480w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176759499-6187605804-b235212168ba809adecb85745be1d9f81733176707-640-0.webp?1376168140 640w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176759499-6187605804-b235212168ba809adecb85745be1d9f81733176707-1024-1024.webp?1376168140 1024w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176759499-6187605804-b235212168ba809adecb85745be1d9f81733176707-1920-1920.webp?1376168140 1920w"
                  class="swiper-lazy blur-up-huge slide-img"
                  alt=""
                >
              </div>
              <div
                class="swiper-slide slide-container swiper-slide-active"
                data-swiper-slide-index="0"
                style="width: 980px;"
              >
                <img
                  width="1600"
                  height="620"
                  src="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1734029968704-8195526269-137367972a547102aec20b58510e65131734029970-50-0.webp?1376168140"
                  class="swiper-lazy blur-up-huge slide-img swiper-lazy-loaded"
                  alt=""
                  srcset="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1734029968704-8195526269-137367972a547102aec20b58510e65131734029970-480-0.webp?1376168140 480w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1734029968704-8195526269-137367972a547102aec20b58510e65131734029970-640-0.webp?1376168140 640w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1734029968704-8195526269-137367972a547102aec20b58510e65131734029970-1024-1024.webp?1376168140 1024w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1734029968704-8195526269-137367972a547102aec20b58510e65131734029970-1920-1920.webp?1376168140 1920w"
                >
              </div>
              <div
                class="swiper-slide slide-container swiper-slide-next"
                data-swiper-slide-index="1"
                style="width: 980px;"
              >
                <img
                  width="1600"
                  height="620"
                  src="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176278374-4770377328-be76744804210f00eed4576aaafe07451733176228-50-0.webp?1376168140"
                  data-srcset="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176278374-4770377328-be76744804210f00eed4576aaafe07451733176228-480-0.webp?1376168140 480w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176278374-4770377328-be76744804210f00eed4576aaafe07451733176228-640-0.webp?1376168140 640w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176278374-4770377328-be76744804210f00eed4576aaafe07451733176228-1024-1024.webp?1376168140 1024w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176278374-4770377328-be76744804210f00eed4576aaafe07451733176228-1920-1920.webp?1376168140 1920w"
                  class="swiper-lazy blur-up-huge slide-img"
                  alt=""
                >
              </div>
              <div
                class="swiper-slide slide-container swiper-slide-duplicate-prev"
                data-swiper-slide-index="2"
                style="width: 980px;"
              >
                <img
                  width="1600"
                  height="620"
                  src="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176759499-6187605804-b235212168ba809adecb85745be1d9f81733176707-50-0.webp?1376168140"
                  data-srcset="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176759499-6187605804-b235212168ba809adecb85745be1d9f81733176707-480-0.webp?1376168140 480w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176759499-6187605804-b235212168ba809adecb85745be1d9f81733176707-640-0.webp?1376168140 640w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176759499-6187605804-b235212168ba809adecb85745be1d9f81733176707-1024-1024.webp?1376168140 1024w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176759499-6187605804-b235212168ba809adecb85745be1d9f81733176707-1920-1920.webp?1376168140 1920w"
                  class="swiper-lazy blur-up-huge slide-img"
                  alt=""
                >
              </div>
              <div
                class="swiper-slide slide-container swiper-slide-duplicate"
                data-swiper-slide-index="0"
                style="width: 980px;"
              >
                <img
                  width="1600"
                  height="620"
                  src="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1734029968704-8195526269-137367972a547102aec20b58510e65131734029970-50-0.webp?1376168140"
                  class="swiper-lazy blur-up-huge slide-img swiper-lazy-loaded"
                  alt=""
                  srcset="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1734029968704-8195526269-137367972a547102aec20b58510e65131734029970-480-0.webp?1376168140 480w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1734029968704-8195526269-137367972a547102aec20b58510e65131734029970-640-0.webp?1376168140 640w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1734029968704-8195526269-137367972a547102aec20b58510e65131734029970-1024-1024.webp?1376168140 1024w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1734029968704-8195526269-137367972a547102aec20b58510e65131734029970-1920-1920.webp?1376168140 1920w"
                >
              </div>
            </div>
            <div class="js-swiper-home-control js-swiper-home-pagination swiper-pagination swiper-pagination-bullets d-block swiper-pagination-clickable">
              <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span
              ><span class="swiper-pagination-bullet"></span
              ><span
                class="swiper-pagination-bullet"
              ></span>
            </div>
            <div class="js-swiper-home-control js-swiper-home-prev swiper-button-prev display-none display-md-block svg-icon-text">
              <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                <path
                  d="M4.2 247.5L151 99.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17L69.3 256l118.5 119.7c4.7 4.7 4.7 12.3 0 17L168 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 264.5c-4.7-4.7-4.7-12.3 0-17z">
                </path>
              </svg>
            </div>
            <div class="js-swiper-home-control js-swiper-home-next swiper-button-next display-none display-md-block svg-icon-text">
              <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                <path
                  d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z">
                </path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div data-store="home-banner-services">
      <div class="row-fluid container-wide hidden-phone m-top m-bottom p-top p-bottom">
        <div class="container services p-top-half-xs m-haf-top-xs m-top m-bottom">
          <div class="service-item-container span4 has-3-banners text-center swiper-slide border-none-xs">
            <div class="js-service-item service-item">
              <div class="span2">
                <div class="service-icon svg-icon-text d-inline-block  m-right-half m-none-xs m-bottom-half-xs">
                  <svg
                    class="svg-inline--fa fa-2x service-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 640 512"
                  >
                    <path
                      d="M624 368h-16V251.9c0-19-7.7-37.5-21.1-50.9L503 117.1C489.6 103.7 471 96 452.1 96H416V56c0-30.9-25.1-56-56-56H56C25.1 0 0 25.1 0 56v304c0 30.9 25.1 56 56 56h8c0 53 43 96 96 96s96-43 96-96h128c0 53 43 96 96 96s96-43 96-96h48c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16zm-464 96c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm208-96H242.7c-16.6-28.6-47.2-48-82.7-48s-66.1 19.4-82.7 48H56c-4.4 0-8-3.6-8-8V56c0-4.4 3.6-8 8-8h304c4.4 0 8 3.6 8 8v312zm48-224h36.1c6.3 0 12.5 2.6 17 7l73 73H416v-80zm64 320c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm80-100.9c-17.2-25.9-46.6-43.1-80-43.1-24.7 0-47 9.6-64 24.9V272h144v91.1z">
                    </path>
                  </svg>
                </div>
              </div>
              <div class="span10 service-text p-right p-none-xs">
                <h3 class="h6 service-title"><strong>Enviamos suas compras</strong></h3>
                <p>Entrega em todo o país</p>
              </div>
            </div>
          </div>
          <div class="service-item-container span4 has-3-banners text-center swiper-slide border-none-xs">
            <div class="js-service-item service-item">
              <div class="span2">
                <div class="service-icon svg-icon-text d-inline-block  m-right-half m-none-xs m-bottom-half-xs">
                  <svg
                    class="svg-inline--fa fa-2x service-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      d="M527.9 32H48.1C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48.1 48h479.8c26.6 0 48.1-21.5 48.1-48V80c0-26.5-21.5-48-48.1-48zM54.1 80h467.8c3.3 0 6 2.7 6 6v42H48.1V86c0-3.3 2.7-6 6-6zm467.8 352H54.1c-3.3 0-6-2.7-6-6V256h479.8v170c0 3.3-2.7 6-6 6zM192 332v40c0 6.6-5.4 12-12 12h-72c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12zm192 0v40c0 6.6-5.4 12-12 12H236c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12z">
                    </path>
                  </svg>
                </div>
              </div>
              <div class="span10 service-text p-right p-none-xs">
                <h3 class="h6 service-title"><strong>Pague como quiser</strong></h3>
                <p>Cartões de crédito ou à vista</p>
              </div>
            </div>
          </div>
          <div class="service-item-container span4 has-3-banners text-center swiper-slide border-none-xs">
            <div class="js-service-item service-item">
              <div class="span2">
                <div class="service-icon svg-icon-text d-inline-block  m-right-half m-none-xs m-bottom-half-xs">
                  <svg
                    class="svg-inline--fa fa-w-14 fa-2x service-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  >
                    <path
                      d="M400 192h-32v-46.6C368 65.8 304 .2 224.4 0 144.8-.2 80 64.5 80 144v48H48c-26.5 0-48 21.5-48 48v224c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V240c0-26.5-21.5-48-48-48zm-272-48c0-52.9 43.1-96 96-96s96 43.1 96 96v48H128v-48zm272 320H48V240h352v224z">
                    </path>
                  </svg>
                </div>
              </div>
              <div class="span10 service-text p-right p-none-xs">
                <h3 class="h6 service-title"><strong>Compre com segurança</strong></h3>
                <p>Seus dados sempre protegidos</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid container-wide visible-phone js-mobile-services-container mobile-services-container">
        <div class="js-mobile-services swiper-container services banner-services-slider">
          <div class="swiper-wrapper">
            <div class="service-item-container span4 has-3-banners text-center swiper-slide border-none-xs">
              <div class="js-service-item service-item">
                <div class="span2">
                  <div class="service-icon svg-icon-text d-inline-block  m-right-half m-none-xs m-bottom-half-xs">
                    <svg
                      class="svg-inline--fa fa-2x service-icon"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 640 512"
                    >
                      <path
                        d="M624 368h-16V251.9c0-19-7.7-37.5-21.1-50.9L503 117.1C489.6 103.7 471 96 452.1 96H416V56c0-30.9-25.1-56-56-56H56C25.1 0 0 25.1 0 56v304c0 30.9 25.1 56 56 56h8c0 53 43 96 96 96s96-43 96-96h128c0 53 43 96 96 96s96-43 96-96h48c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16zm-464 96c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm208-96H242.7c-16.6-28.6-47.2-48-82.7-48s-66.1 19.4-82.7 48H56c-4.4 0-8-3.6-8-8V56c0-4.4 3.6-8 8-8h304c4.4 0 8 3.6 8 8v312zm48-224h36.1c6.3 0 12.5 2.6 17 7l73 73H416v-80zm64 320c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm80-100.9c-17.2-25.9-46.6-43.1-80-43.1-24.7 0-47 9.6-64 24.9V272h144v91.1z">
                      </path>
                    </svg>
                  </div>
                </div>
                <div class="span10 service-text p-right p-none-xs">
                  <h3 class="h6 service-title"><strong>Enviamos suas compras</strong></h3>
                  <p>Entrega em todo o país</p>
                </div>
              </div>
            </div>
            <div class="service-item-container span4 has-3-banners text-center swiper-slide border-none-xs">
              <div class="js-service-item service-item">
                <div class="span2">
                  <div class="service-icon svg-icon-text d-inline-block  m-right-half m-none-xs m-bottom-half-xs">
                    <svg
                      class="svg-inline--fa fa-2x service-icon"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 576 512"
                    >
                      <path
                        d="M527.9 32H48.1C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48.1 48h479.8c26.6 0 48.1-21.5 48.1-48V80c0-26.5-21.5-48-48.1-48zM54.1 80h467.8c3.3 0 6 2.7 6 6v42H48.1V86c0-3.3 2.7-6 6-6zm467.8 352H54.1c-3.3 0-6-2.7-6-6V256h479.8v170c0 3.3-2.7 6-6 6zM192 332v40c0 6.6-5.4 12-12 12h-72c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12zm192 0v40c0 6.6-5.4 12-12 12H236c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12z">
                      </path>
                    </svg>
                  </div>
                </div>
                <div class="span10 service-text p-right p-none-xs">
                  <h3 class="h6 service-title"><strong>Pague como quiser</strong></h3>
                  <p>Cartões de crédito ou à vista</p>
                </div>
              </div>
            </div>
            <div class="service-item-container span4 has-3-banners text-center swiper-slide border-none-xs">
              <div class="js-service-item service-item">
                <div class="span2">
                  <div class="service-icon svg-icon-text d-inline-block  m-right-half m-none-xs m-bottom-half-xs">
                    <svg
                      class="svg-inline--fa fa-w-14 fa-2x service-icon"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                    >
                      <path
                        d="M400 192h-32v-46.6C368 65.8 304 .2 224.4 0 144.8-.2 80 64.5 80 144v48H48c-26.5 0-48 21.5-48 48v224c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V240c0-26.5-21.5-48-48-48zm-272-48c0-52.9 43.1-96 96-96s96 43.1 96 96v48H128v-48zm272 320H48V240h352v224z">
                      </path>
                    </svg>
                  </div>
                </div>
                <div class="span10 service-text p-right p-none-xs">
                  <h3 class="h6 service-title"><strong>Compre com segurança</strong></h3>
                  <p>Seus dados sempre protegidos</p>
                </div>
              </div>
            </div>
          </div>
          <div class="js-mobile-service-pagination service-pagination swiper-pagination swiper-pagination-black"></div>
        </div>
      </div>
    </div>

    <div class="container-wide banner-wrapper p-relative" data-store="home-banner-categories">
      {%- for collection in collections -%}
        {%- assign is_start_of_row = forloop.index | modulo: 3 -%}
        {%- if forloop.index == 1 or is_start_of_row == 1 -%}
          <div class="row-fluid">
        {%- endif -%}

        <div class="span4">
          <div class="textbanner text-center placeholder-container">
            <a
              class="textbanner-link"
              href="{{ collection.url }}"
              alt="{{ collection.title }}"
              title="{{ collection.title }}"
            >
              <div class="textbanner-image overlay">
                <img
                  class="textbanner-image-background lazyautosizes blur-up-huge ls-is-cached lazyloaded"
                  src="{{ collection.image | img_url: '500x' }}"
                  srcset="
                    {{ collection.image | img_url: '500x' }} 500w,
                    {{ collection.image | img_url: '1000x' }} 1000w,
                    {{ collection.image | img_url: '1500x' }} 1500w
                  "
                  sizes="(max-width: 768px) 100vw, 50vw"
                  alt="{{ collection.title }}"
                >
              </div>
              <div class="textbanner-text">
                <h3 class="textbanner-title">{{ collection.title }}</h3>
                <div class="btn btn-primary btn-small" style="padding: 12px">VER PRODUTOS</div>
              </div>
            </a>
          </div>
        </div>

        {%- assign is_end_of_row = forloop.index | modulo: 3 -%}
        {%- if is_end_of_row == 0 or forloop.last -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>

    <div data-store="home-welcome-message">
      <div class="row-fluid container-wide m-top-half-xs m-bottom-half-xs m-section">
        <div class="span12">
          <div class="subtitle-container m-bottom m-none-xs">
            <h2 class="h5-xs">ESCOLHA, PAGUE E RECEBA SEU PEDIDO SEM SAIR DE SUA CASA.</h2>
          </div>
        </div>
      </div>
    </div>

    <div data-store="home-products-featured">
      <section class="mobile-home-categories horizontal-container pills-container container-fluid visible-phone text-left m-bottom-half">
        <ul>
          {%- for collection in collections -%}
            <li data-item="1" class="pill m-left-half">
              <a class="pill-link" href="{{ collection.url }}" title="{{ collection.title }}">
                {{ collection.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </section>

      <div class="row-fluid container-wide home-prods m-section m-top m-none-xs">
        <div class="span2 left-col hidden-phone visible-when-content-ready">
          <div class="visible-when-content-ready pull-left hidden-phone">
            <h3 class="h6 cat-title weight-strong m-bottom">Categorias principais</h3>
            <div class="sidebar">
              <ul class="home-categories-list pull-left clearfix">
                {%- for collection in collections -%}
                  <li data-item="1" class="m-bottom-quarter clearfix">
                    <a href="{{ collection.url }}" title="{{ collection.title }}">
                      {{ collection.title }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div>

        <div class="span10 home-grid right-col">
          <div class="js-product-table product-table">
            {% for product in collections.all.products %}
              {%- assign is_start_row = forloop.index | modulo: 4 -%}
              {%- if forloop.index == 1 or is_start_row == 1 -%}
                <div class="grid-row">
              {%- endif -%}

              <div class="span3 item-container m-bottom-half">
                <div class="js-item-product item m-top-none-xs">
                  <div class="js-product-container js-quickshop-container js-quickshop-has-variants">
                    <div class="js-item-image-container item-image-container">
                      <div style="padding-bottom: 150%;" class="js-item-image-padding p-relative">
                        <a href="{{ product.url }}" title="{{ product.title }}" aria-label="{{ product.title }}">
                          <picture>
                            <source
                              class="js-item-image-source"
                              media="(max-width: 767px)"
                              data-srcset="{{ product.featured_image | img_url: '640x960' }} 640w, {{ product.featured_image | img_url: '800x1200' }} 800w"
                              srcset="{{ product.featured_image | img_url: '640x960' }} 640w, {{ product.featured_image | img_url: '800x1200' }} 800w"
                            >
                            <img
                              src="{{ product.featured_image | img_url: '800x1200' }}"
                              alt="{{ product.title }}"
                              class="js-item-image js-item-image-primary item-image img-absolute img-absolute-centered fade-in lazyloaded"
                              width="800"
                              height="1200"
                              style="width: 100%; height: 100%; object-fit: cover;"
                            >
                            <div class="placeholder-fade"></div>
                          </picture>
                        </a>
                      </div>
                    </div>

                    <div class="item-info-container" data-store="product-item-info-244179528">
                      <a
                        href="{{ product.url }}"
                        title="{{ product.title }}"
                        class="js-item-name item-name"
                        aria-label="{{ product.title }}"
                      >
                        {{ product.title }}
                      </a>
                      <div class="item-price-container m-bottom-quarter">
                        <span class="price-compare">
                          {% if product.compare_at_price > product.price %}
                            <span class="js-compare-price-display item-price-compare p-none-left-xs p-right-quarter-xs">
                              {{ product.compare_at_price | money }}
                            </span>
                          {% endif %}
                        </span>
                        <span class="js-price-display item-price h6">{{ product.price | money }}</span>
                      </div>
                    </div>

                    <div class="item-actions m-top-half">
                      <a
                        href="{{ product.url }}"
                        class="js-quickshop-modal-open btn btn-primary full-width-xs p-right-half-xs p-left-half-xs btn-small btn-smallest font-small-extra p-right p-left m-auto"
                        title="Compra rápida de {{ product.title }}"
                        aria-label="Compra rápida de {{ product.title }}"
                        >Comprar</a
                      >
                    </div>
                  </div>
                </div>
              </div>

              {%- assign is_end_row = forloop.index | modulo: 4 -%}
              {%- if is_end_row == 0 or forloop.last -%}
                </div>
              {%- endif -%}
            {% endfor %}

            <div class="row-fluid container-xs container-see-all-prods text-center clear-both visible-when-content-ready">
              <a
                href="/produtos/"
                class="btn-see-all-prods btn btn-primary btn-small d-inline-block m-top m-bottom p-left p-right span4 offset4"
                aria-label="Ver todos os produtos"
              >
                Ver todos os produtos
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="span12 home-grid right-col">
    <h2 class="h5-xs text-center text-uppercase m-top-xs m-bottom">PROMOÇÕES</h2>

    {% assign collection = collections['achadinho-da-semana'] %}
    <div class="products-slider"></div>
    <div class="js-swiper-sale-products swiper-container swiper-container-initialized swiper-container-horizontal">
      <div class="swiper-wrapper" style="transition: all; transform: translate3d(-1030px, 0px, 0px);">
        {% for product in collection.products %}
          <div
            class="js-item-slide swiper-slide m-bottom-none-xs m-bottom-half swiper-slide-duplicate swiper-slide-duplicate-active"
            style="width: 116px; margin-right: 30px;"
            data-swiper-slide-index="7"
            role="group"
            aria-label="8 / 10"
          >
            <div class="js-item-product item m-top-none-xs">
              <div class="js-product-container js-quickshop-container js-quickshop-has-variants item-slide">
                <div class="js-item-image-container item-image-container">
                  <div style="padding-bottom: 110%;" class="js-item-image-padding p-relative">
                    <a
                      href="https://www.usebboficial.com/produtos/camisa-oversized24/"
                      title="Camisa Oversized"
                      aria-label="Camisa Oversized"
                    >
                      <picture>
                        <source
                          class="js-item-image-source"
                          media="(max-width: 767px)"
                          data-srcset="{{ product.featured_image | img_url: '400x400' }} 400w, {{ product.featured_image | img_url: '600x600' }} 600w"
                          srcset="{{ product.featured_image | img_url: '400x400' }} 400w, {{ product.featured_image | img_url: '600x600' }} 600w"
                        >

                        <source
                          class="js-item-image-source"
                          media="(min-width: 768px)"
                          data-srcset="{{ product.featured_image | img_url: '800x800' }} 800w, {{ product.featured_image | img_url: '1200x1200' }} 1200w"
                          srcset="{{ product.featured_image | img_url: '800x800' }} 800w, {{ product.featured_image | img_url: '1200x1200' }} 1200w"
                        >

                        <img
                          src="{{ product.featured_image | img_url: '800x800' }}"
                          alt="{{ product.title }}"
                          class="js-item-image js-item-image-primary item-image img-absolute img-absolute-centered fade-in lazyloaded"
                          width="800"
                          height="1200"
                          style="width: 80%; height: 100%; object-fit: cover; min-height: 300px"
                        >

                        <div class="placeholder-fade"></div>
                      </picture>
                    </a>
                  </div>
                  <div class="labels">
                    <div
                      class="js-offer-label item-label item-label-offer product-label label-primary label label-accent"
                      style="display: none;"
                    >
                      <span class="js-offer-percentage">0</span> % OFF
                    </div>
                  </div>
                  <div
                    class="js-free-shipping-minimum-label  item-label product-label label-bottom label-light"
                    style="display: none;"
                  >
                    <span class="m-right-quarter d-inline-block label-shipping-icon svg-icon-text">
                      <svg
                        class="svg-truck-icon"
                        baseProfile="tiny"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="598 -476.1 1792 1792"
                      >
                        <path
                          d="M1238 931.9c0-34.7-12.7-64.7-38-90s-55.3-38-90-38-64.7 12.7-90 38-38 55.3-38 90 12.7 64.7 38 90 55.3 38 90 38 64.7-12.7 90-38 38-55.3 38-90zm-384-512h384v-256h-158c-8.7 0-16 3-22 9l-195 195c-6 6-9 13.3-9 22v30zm1280 512c0-34.7-12.7-64.7-38-90s-55.3-38-90-38-64.7 12.7-90 38-38 55.3-38 90 12.7 64.7 38 90 55.3 38 90 38 64.7-12.7 90-38 38-55.3 38-90zm256-1088v1024c0 10-1.3 18.8-4 26.5s-7.2 13.8-13.5 18.5-11.8 8.5-16.5 11.5-12.5 5-23.5 6-18.5 1.7-22.5 2-12.5.3-25.5 0-20.5-.5-22.5-.5c0 70.7-25 131-75 181s-110.3 75-181 75-131-25-181-75-75-110.3-75-181h-384c0 70.7-25 131-75 181s-110.3 75-181 75-131-25-181-75-75-110.3-75-181h-64c-2 0-9.5.2-22.5.5s-21.5.3-25.5 0-11.5-1-22.5-2-18.8-3-23.5-6-10.2-6.8-16.5-11.5-10.8-10.8-13.5-18.5-4-16.5-4-26.5c0-17.3 6.3-32.3 19-45s27.7-19 45-19v-320c0-5.3-.2-17-.5-35s-.3-30.7 0-38 1.2-18.8 2.5-34.5 3.5-28 6.5-37 7.7-19.2 14-30.5 13.8-21.3 22.5-30l198-198c12.7-12.7 29.5-23.3 50.5-32s40.5-13 58.5-13h160v-192c0-17.3 6.3-32.3 19-45s27.7-19 45-19h1024c17.3 0 32.3 6.3 45 19s19 27.7 19 45z">
                        </path>
                      </svg>
                    </span>
                    <span class="d-inline-block line-height-initial">Frete grátis</span>
                  </div>
                </div>
                <div class="item-info-container">
                  <a
                    href="https://www.usebboficial.com/produtos/camisa-oversized24/"
                    title="{{ product.title }}"
                    aria-label="{{ product.title }}"
                    class="js-item-name item-name"
                  >
                    {{ product.title }}
                  </a>
                  <div class="item-price-container m-bottom-quarter">
                    <span class="price-compare">
                      <span
                        class="js-compare-price-display item-price-compare p-none-left-xs p-right-quarter-xs"
                        style="display:none;"
                      >
                        R$0,00
                      </span>
                    </span>
                    <span class="js-price-display item-price h6">{{ product.price | money }}</span>
                  </div>
                </div>

                <span class="hidden" data-store="stock-product-207009611-2"></span>

                <div class="item-actions m-top-half">
                  <a
                    data-toggle="modal"
                    data-target="#quickshop-modal"
                    data-modal-url="modal-fullscreen-quickshop"
                    class="js-quickshop-modal-open js-quickshop-slide js-fullscreen-modal-open btn btn-primary full-width-xs p-right-half-xs p-left-half-xs btn-small btn-smallest font-small-extra p-right p-left m-auto"
                    title="Compra rápida de Camisa Oversized"
                    aria-label="Compra rápida de Camisa Oversized"
                    >Comprar</a
                  >
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="js-swiper-sale-products-pagination swiper-pagination d-block swiper-pagination-clickable swiper-pagination-bullets">
      {% assign product_count = collection.products.size %}
      {% assign group_size = product_count | divided_by: 3 %}

      {% for product in collection.products %}
        {% if forloop.index <= group_size %}
          <span class="swiper-pagination-bullet"></span>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<section class="container">
  <div data-store="home-image-text-module">
    <div class="row-fluid container-wide module-wrapper m-section m-bottom m-bottom-half-xs p-relative">
      <div class="span6">
        <div class="module-image">
          <img
            class="lazyautosizes fade-in lazyloaded"
            src="//acdn.mitiendanube.com/assets/themes/new_linkedman/static/images/empty-placeholder.png"
            data-srcset="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/1-img-499128951-1711653205-d1cdb1fb3244fbbd2ddfc30858ddb8f71711653206-480-0.gif?1376168140 480w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/1-img-499128951-1711653205-d1cdb1fb3244fbbd2ddfc30858ddb8f71711653206-640-0.gif?1376168140 640w"
            data-sizes="auto"
            alt="CAMISETAS OVERSIZED"
            data-expand="-10"
            sizes="555px"
            srcset="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/1-img-499128951-1711653205-d1cdb1fb3244fbbd2ddfc30858ddb8f71711653206-480-0.gif?1376168140 480w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/1-img-499128951-1711653205-d1cdb1fb3244fbbd2ddfc30858ddb8f71711653206-640-0.gif?1376168140 640w"
          >
        </div>
      </div>
      <div class="span6">
        <div class="module-text">
          <div class="text-container">
            <h3 class="module-text-title m-bottom">CAMISETAS OVERSIZED</h3>
            <div class="module-text-paragraph m-bottom p-bottom">
              Vestir nossa camiseta oversized única é uma elegância descomplicada. Feita com tecidos premium e um corte
              moderno, oferece conforto e estilo em igual medida. Com detalhes cuidadosamente pensados, é uma expressão
              de sofisticação casual que se destaca em qualquer situação, garantindo uma aparência impecável com mínima
              complicação.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>